header {
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 1.4rem;
    }

    transition: get-transition(2);
}

.dark_mode {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: Transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        margin-right: 5px;
        width: get-icon-size();
        transition: get-transition(2);
    }
    p {
        font-size: get-icon-size();
        font-weight: get-font-weight("normal");
    }

}